**/target
**/out
**/.idea
**/*.iml
**/*.iws
**/*.ipr
docs
etc
!etc/eclipse-formatter-config.xml
!etc/enforcer-rules
scripts
Dockerfile
.dockerignore
.github
README.md
kroxylicious-docs/release-manifest.yaml
