{{- if .Values.kroxylicious.enabled }}
#
# Copyright Kroxylicious Authors.
#
# Licensed under the Apache Software License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
#
apiVersion: kroxylicious.io/v1alpha1
kind: KafkaProxyIngress
metadata:
  name: cluster-ip
spec:
  proxyRef:
    name: benchmark-proxy
  clusterIP:
    protocol: TCP
{{- end }}
