{{/*
Copyright Kroxylicious Authors.

Licensed under the Apache Software License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
*/}}

{{- if .Values.kroxylicious.enabled }}
apiVersion: kroxylicious.io/v1alpha1
kind: KafkaService
metadata:
  name: kafka
spec:
  bootstrapServers: kafka-kafka-bootstrap:9092
  nodeIdRanges:
    - start: 0
      end: {{ sub .Values.kafka.replicas 1 }}
---
apiVersion: kroxylicious.io/v1alpha1
kind: VirtualKafkaCluster
metadata:
  name: kafka
spec:
  proxyRef:
    name: benchmark-proxy
  targetKafkaServiceRef:
    name: kafka
  ingresses:
    - ingressRef:
        name: cluster-ip
{{- end }}
