{{- if .Values.kroxylicious.enabled }}
#
# Copyright Kroxylicious Authors.
#
# Licensed under the Apache Software License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
#
apiVersion: kroxylicious.io/v1alpha1
kind: KafkaProxy
metadata:
  name: benchmark-proxy
spec:
  replicas: {{ .Values.kroxylicious.replicas }}
  infrastructure:
    proxyContainer:
      resources:
        {{- toYaml .Values.kroxylicious.resources | nindent 8 }}
{{- end }}
