#
# Copyright Kroxylicious Authors.
#
# Licensed under the Apache Software License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
#

---
adminHttp:
  endpoints:
    prometheus: { }
virtualClusters:
  demo:
    targetCluster:
      bootstrap_servers: broker1:9092
    clusterNetworkAddressConfigProvider:
      type: PortPerBrokerClusterNetworkAddressConfigProvider
      config:
        bootstrapAddress: kroxylicious:9092
    logNetwork: false
    logFrames: false
filters:
  - type: EnvelopeEncryption
    config:
      kms: VaultKmsService
      kmsConfig:
        vaultTransitEngineUrl: http://vault:8200/v1/transit
        vaultToken:
          password: token
      selector: TemplateKekSelector
      selectorConfig:
        template: "KEK_${topicName}"
