#
# Copyright Kroxylicious Authors.
#
# Licensed under the Apache Software License version 2.0, available at http://www.apache.org/licenses/LICENSE-2.0
#

---
adminHttp:
  endpoints:
    prometheus: {}
virtualClusters:
  - name: demo
    targetCluster:
      bootstrapServers: broker1:9092
    gateways:
      - name: mygateway
        portIdentifiesNode:
          bootstrapAddress: kroxylicious:9092
    logNetwork: false
    logFrames: false
filterDefinitions:
- name: produce
  type: ProduceRequestTransformation
  config:
    transformation: UpperCasing
    transformationConfig:
      charset: UTF-8
- name: fetch
  type: FetchResponseTransformation
  config:
    transformation: UpperCasing
    transformationConfig:
      charset: UTF-8

defaultFilters:
  - produce
  - fetch